<h1>All Products</h1>

<ul>
    <% @products.each do |product| %>
    <div class="product">
        <% if product.image.present? %>
            <p>
                <%= image_tag product.image%>
            </p>
        <%end%>
        <p>
            <%= link_to product.name, product %> <%= number_to_currency(product.price) %> 
        </p>
    </div> 
    <%end%>
</ul>